.gp-heading-headline {
    text-align: center;
    h1 {
        margin-top: 0;
        margin-bottom: 12px;
    }
    h4 {
        font-weight: 300;
        opacity: .8;
    }
}

.gp-heading-block {
    padding: 2rem;
    align-self: center;
}

.gp-heading-item {
    padding-bottom: 24px;
    p {
        font-weight: 300;
        margin-top: 0;
        display: inline;
    }
    i {
        margin-right: 1rem;
    }
}

.gp-button-wrap {
    padding: 12px 0;
    
}

@include breakpoint(no-desktop) {
    .gp-heading-block {
        flex: 0 100%;
        padding: 2rem 0;
    }
    .gp-heading-item {
        text-align: center;
        padding-bottom: .5rem;
        i {
            padding-right: 0;
            margin-bottom: 1rem;
        }
        p {
            display: block;
        }
    }
    .gp-button-wrap {
        text-align: center;
    }
}

.gp-heading-button {
    display: inline-block;
    padding: 1rem 3rem;
    background: $accent-color-1;
    font-weight: 500;
    color: $white !important;
}