.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.carousel-control {
    height: 100%;
    width: 100px;
    top: 0;
    margin-top: 0;
    border-radius: 0;
    border: none;
    background: transparent;
    
    &.left {
        left: 0;
    }
    
    &.right {
        right: 0;
    }
    
    i {
        top: 50%;
        margin-top: -30px;
        position: absolute;
        height: 60px;
        width: 20px;
    }
}

.carousel-caption {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}