.ai-feedburner {
    input[type="submit"] {
        vertical-align: top;
        height: 42px;
        width: 20%;
    }
    
    input[type="text"] {
        height: 42px;
        width: 70%;
    }
    @include breakpoint(mobile-only) {
        input[type="text"] {
            width: 100%;
            padding: 0 20px;
        }
        input[type="submit"] {
            width: 100%;
        }
    }
}

.ai-feedburner-form {
    text-align: center;
}
