{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="gp-simple-image">
	    {% if particle.link %}
	    <a href="{{ particle.link }}" target="{{ particle.target }}"><img src="{{ url(particle.image) }}"></a>
	    {% else %}
	    <img src="{{ url(particle.image) }}">
	    {% endif %}
	</div>
{% endblock %}