.ga-button {
    display: inline-block;
    border: 2px solid $accent-color-1;
    color: $accent-color-1 !important;
    padding: .8rem 2rem;
    text-align: center;
    margin-bottom: .2rem;
    &:hover {
        background: $black;
        border: 2px solid $black;
        color: $white !important;
    }
}
